<!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{profile?.firstName}} {{profile?.lastName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ng-container *ngFor="let msg of messageList |async">
    <ion-item *ngIf="(msg.fromID == myuid) && (msg.toID == profile.key)">
      <ion-avatar class="chat_left" item-left>
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <h2>{{msg.name}}</h2>
      <p>{{msg.content}}</p>
    </ion-item>

    <ion-item class="chat_right" *ngIf="(msg.toID == myuid) && (msg.fromID==profile.key)" >
      <ion-avatar item-right>
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <h2>{{msg.name}}</h2>
      <p>{{msg.content}}</p>
    </ion-item>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid> 
      <ion-row>
        <ion-col col-9>
          <ion-textarea [(ngModel)]="content" placeholder="Enter message"></ion-textarea>
        </ion-col>
        <ion-col col-3>
          <button ion-button clear (click)="sendMsg()">Submit</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>