<ion-header>
  <ion-navbar>
    <ion-title>
      Inbox
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)='nav2Profiles()'>
          <ion-icon name='add'></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let msg of messageList |async" (click)='selectPerson(msg)'>
          <ion-avatar item-left>
            <img src= "assets/imgs/avatar.png" alt="avatar">
          </ion-avatar>
          <h2>{{msg?.name}}</h2>
          <p>{{msg?.content}}</p> <ion-badge *ngIf="msg.unread" color="danger">{{msg?.unread}}</ion-badge>
        </ion-item>
      </ion-list>
</ion-content>

